* {
    padding: 0;
    margin: 0;
    border: 0;
}
body {
    font-size: 12px;
    font-family: msyh,sim-sun;
}
.nav {
    margin-bottom: 5px;
    background: red;
    height: 200px;
}
.content {
    height: 300px;
    margin-bottom: 5px;
}
.left {
    background: lightgreen;
    height: 300px;
}
.right {
    background: lightyellow;
    height: 300px;
    }
.footer {
    background: lightnavy;
    height: 100px;
}